<main id="bands">
    <h1>ALL THE BANDS</h1>
    <section class="card-deck">
        <% @bands.each do |band| %>
            <div class="card">
                <h5><%= band.name %></h5>
                <p><%= band.description %></p>
                <a href=#>See More</a>
            </div>
        <% end %>
    </section>
</main>